.market {
    box-shadow: 1px 1px 5px #000;
}
.market:active {
    box-shadow: 0px 0px #000;
    transform: translateY(0px);
}
.holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    margin-left: 10px;
    margin-bottom: 25px;
   
    
}
.box + .box {
    margin-left: 20px;
}
.card{
    box-shadow: 1px 2px 4px #000;
    border: none;
    line-height: 1em;
    background-color: rgba(0, 0, 0, 0.6);
}

.player-card > *{
    color: #f2f5f5;
}

.player-card .btn-info {
    background: rgb(31, 170, 66);
    border: none;
}

.img-click {
    cursor: pointer;
}
.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}