<div class="container about-bsn">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>ABOUT BSN (Building Sports Network)</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 card-body">
      <h1 class="card-title">Player</h1>
      <h5 class="card-text">As a BSN player who can join teams and play matches with other football lovers.</h5>
    </div>
    <div class="col-md-4 card-body">
      <h1 class="card-title">Manager</h1>
      <h5 class="card-text">As a BSN manager who can form a team, recruit players and join tournaments.</h5>
    </div>
    <div class="col-md-4 card-body">
      <h1 class="card-title">Organizer</h1>
      <h5 class="card-text">As a BSN organizer who can create tournaments, schedule fixtures and update score.</h5>
    </div>
  </div>
</div>