<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div class="modal-body py-3 px-5">
    <div class="form-group">
      <div *ngIf="userForm.controls['email'].dirty && userForm.controls['email'].hasError('email')" class="prompt">
        Please enter valid email
      </div>
      <i class="far fa-envelope logo-width"></i>
      <input type="text" placeholder="Email" name="email" class="account-info" formControlName="email" [ngClass]="{'is-invalid':userForm.controls['email'].dirty && userForm.controls['email'].errors }"
      />
    </div>

    <div class="form-group">
      <div *ngIf="userForm.controls['firstname'].dirty && userForm.controls['firstname'].hasError('required')" class="prompt">
        The field is required
      </div>
      <div *ngIf="userForm.controls['firstname'].dirty && userForm.controls['firstname'].hasError('minlength')" class="prompt">
        Minimum 3 characters required
      </div>
      <i class="fas fa-user-plus logo-width"></i>
      <input type='text' placeholder="First Name" name="firstname" class="account-info" formControlName="firstname" [ngClass]="{'is-invalid':userForm.controls['firstname'].dirty && userForm.controls['firstname'].errors }"
      />
    </div>

    <div class="form-group">
      <div *ngIf="userForm.controls['lastname'].dirty && userForm.controls['lastname'].hasError('required')" class="prompt">
        The field is required
      </div>
      <div *ngIf="userForm.controls['lastname'].dirty && userForm.controls['lastname'].hasError('minlength')" class="prompt">
        Minimum 2 characters required
      </div>
      <i class="fas fa-user-plus logo-width"></i>
      <input type='text' placeholder="Last Name" name="lastname" class="account-info" formControlName="lastname" [ngClass]="{'is-invalid':userForm.controls['lastname'].dirty && userForm.controls['lastname'].errors}"
      />
    </div>

    <div class="form-group">
      <div *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].hasError('required')" class="prompt">
        Password required
      </div>
      <div *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].hasError('minlength')" class="prompt">
        Minimum 6 characters
      </div>
      <i class="fas fa-unlock-alt logo-width"></i>
      <input type="password" placeholder="Password" class="account-info" name="password" formControlName="password" [ngClass]="{'is-invalid':userForm.controls['password'].dirty && userForm.controls['password'].errors }"
      />
    </div>

    <div class="form-group">
      <div *ngIf="userForm.get(['password']).value != userForm.get(['confirm_password']).value && userForm.get(['confirm_password']).value != null"
        class="prompt">
        Password doesn't match
      </div>
      <i class="fas fa-unlock-alt logo-width"></i>
      <input type="password" placeholder="Confirm password" class="account-info" name="confirm_password" formControlName="confirm_password"
        [ngClass]="{'is-invalid':userForm.controls['confirm_password'].dirty && userForm.controls['confirm_password'].errors || userForm.get(['password']).value != userForm.get(['confirm_password']).value && userForm.get(['confirm_password']).value != null}"
      />
    </div>

    <div class="form-group">
      <i class="fas fa-users logo-width"></i>
      <select formControlName="status" class="account-info" required>
        <option value="" disabled selected>Role</option>
        <option value="player">Player</option>
        <option value="manager">Manager</option>
        <option value="organizer">Organizer</option>
      </select>
    </div>

  </div>

  <div class="modal-footer">
    <input type='submit' value="Submit" class="btn btn-warning btn-block text-white " [disabled]="!userForm.valid" />
  </div>
</form>


<!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
    <div class="modal-body  py-3 px-5">
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label>First name</label>
            <input type='text' name="firstname" class="form-control" formControlName="firstname" [ngClass]="{'is-invalid':userForm.controls['firstname'].dirty && userForm.controls['firstname'].errors }"
            />
            <div *ngIf="userForm.controls['firstname'].dirty && userForm.controls['firstname'].hasError('required')" class="invalid-feedback">
              The title is required
            </div>
            <div *ngIf="userForm.controls['firstname'].dirty && userForm.controls['firstname'].hasError('minlength')" class="invalid-feedback">
              Minimum 3 characters required
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label>Last name</label>
            <input type='text' name="lastname" class="form-control" formControlName="lastname" [ngClass]="{'is-invalid':userForm.controls['lastname'].dirty && userForm.controls['lastname'].errors}"
            />
            <div *ngIf="userForm.controls['lastname'].dirty && userForm.controls['lastname'].hasError('required')" class="invalid-feedback">
              The link is required
            </div>
            <div *ngIf="userForm.controls['lastname'].dirty && userForm.controls['lastname'].hasError('minlength')" class="invalid-feedback">
              Minimum 3 characters required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':userForm.controls['email'].dirty && userForm.controls['email'].errors }"
        />
        <div *ngIf="userForm.controls['email'].dirty && userForm.controls['email'].hasError('required')" class="invalid-feedback">
          Email is required
        </div>
        <div *ngIf="userForm.controls['email'].dirty && userForm.controls['email'].hasError('email')" class="invalid-feedback">
          Please enter valid email
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Password</label>
          <input type="password" class="form-control" name="password" formControlName="password" [ngClass]="{'is-invalid':userForm.controls['password'].dirty && userForm.controls['password'].errors }">
          <div *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].hasError('required')" class="invalid-feedback">
            Password required
          </div>
          <div *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].hasError('minlength')" class="invalid-feedback">
            Minimum 6 characters
          </div>
  
        </div>
        <div class="form-group col-md-6">
          <label for="">Confirm password</label>
          <input type="password" class="form-control" name="confirm_password" formControlName="confirm_password" [ngClass]="{'is-invalid':userForm.controls['confirm_password'].dirty && userForm.controls['confirm_password'].errors ||
          userForm.get(['password']).value != userForm.get(['confirm_password']).value && userForm.get(['confirm_password']).value != null}">
          <div *ngIf="userForm.controls['confirm_password'].dirty && userForm.controls['confirm_password'].hasError('required')" class="invalid-feedback">
              Confirmation required
          </div>
          <div *ngIf="userForm.get(['password']).value != userForm.get(['confirm_password']).value && userForm.get(['confirm_password']).value != null" class="invalid-feedback">
            Password doesn't match
          </div>
        </div>
      </div>
     
      <div>I'm ....</div>
      <div class="form-row">
        <div class="form-group col-sm-4">
          <input type="radio"  name="status" value="player" formControlName="status" >
          <label for="player">Player</label>
        </div>
        <div class="form-group col-sm-4">
          <input type="radio"  name="status" value="manager" formControlName="status">
          <label for="manager">Manager</label>
        </div>
        <div class="form-group col-sm-4">
          <input type="radio"  name="status" value="organizer" formControlName="status">
          <label for="organizer">Organizer</label>
        </div>
      </div>
    </div>
  
  <div class="modal-footer">
    <input type='submit' value="Submit" class="btn btn-warning btn-block text-white " [disabled]="!userForm.valid" />
  </div>
  </form> -->