<div class="container">
    <form [formGroup]="editTournamentForm" (ngSubmit)="onUpdate()">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name of tournament</label>
            <input type="text" class="form-control" name="tournament_name" formControlName="tournament_name" [ngClass]="{'is-invalid': editTournamentForm.controls['tournament_name'].dirty && editTournamentForm.controls['tournament_name'].errors}">
            <div *ngIf="editTournamentForm.controls['tournament_name'].dirty && editTournamentForm.controls['tournament_name'].hasError('required')" class="invalid-feedback">
              The name of tournament is required
            </div>
            <div *ngIf="editTournamentForm.controls['tournament_name'].dirty && editTournamentForm.controls['tournament_name'].hasError('maxlength')" class="invalid-feedback">
                The maxlength can be greater than 40
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Category: </label>
            <select formControlName="category" class="form-control" [ngClass]="{'is-invalid': editTournamentForm.controls['category'].touched && editTournamentForm.controls['category'].errors}">
              <option *ngFor="let category of categories" [ngValue]="category">
                {{ category }}
              </option>
            </select>
            <div *ngIf="editTournamentForm.controls['category'].touched && editTournamentForm.controls['category'].hasError('required')" class="invalid-feedback">
                The category field is required
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Number of team</label>
            <input type="number" min='0' max='30' class="form-control" name="number_of_teams" formControlName="number_of_teams" [ngClass]="{'is-invalid': editTournamentForm.controls['number_of_teams'].dirty && editTournamentForm.controls['number_of_teams'].errors}">
            <div *ngIf="editTournamentForm.controls['number_of_teams'].dirty && editTournamentForm.controls['number_of_teams'].hasError('required')" class="invalid-feedback">
                The number of teams is required
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Players on field: </label>
            <select formControlName="game_size" class="form-control" [ngClass]="{'is-invalid': editTournamentForm.controls['game_size'].touched && editTournamentForm.controls['game_size'].errors}">
              <option *ngFor="let game_size of game_sizes" [ngValue]="game_size">
                {{ game_size }}
              </option>
            </select>
            <div *ngIf="editTournamentForm.controls['game_size'].touched && editTournamentForm.controls['game_size'].hasError('required')" class="invalid-feedback">
                The players on field is required
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Winner prize</label>
            <input type="text" class="form-control" name="winner_prize" formControlName="winner_prize" [ngClass]="{'is-invalid': editTournamentForm.controls['winner_prize'].dirty && editTournamentForm.controls['winner_prize'].errors}">
            <div *ngIf="editTournamentForm.controls['winner_prize'].dirty && editTournamentForm.controls['winner_prize'].hasError('required')" class="invalid-feedback">
                The winner prize field is required
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Runner up prize</label>
            <input type="text" class="form-control" name="runnerup_prize" formControlName="runnerup_prize" [ngClass]="{'is-invalid': editTournamentForm.controls['runnerup_prize'].dirty && editTournamentForm.controls['runnerup_prize'].errors}">
            <div *ngIf="editTournamentForm.controls['runnerup_prize'].dirty && editTournamentForm.controls['runnerup_prize'].hasError('required')" class="invalid-feedback">
                The runner field is required
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Entry fee</label>
            <div class="input-group">
              <input type="number" min='0' max='50000' class="form-control" name="entry_fee" formControlName="entry_fee" [ngClass]="{'is-invalid': editTournamentForm.controls['entry_fee'].dirty && editTournamentForm.controls['entry_fee'].errors}">
              <div *ngIf="editTournamentForm.controls['entry_fee'].dirty && editTournamentForm.controls['entry_fee'].hasError('required')" class="invalid-feedback">
                  The entry fee field is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" name="date" formControlName="date" [ngClass]="{'is-invalid': editTournamentForm.controls['date'].touched && editTournamentForm.controls['date'].errors}">
            <div *ngIf="editTournamentForm.controls['date'].touched && editTournamentForm.controls['date'].hasError('required')" class="invalid-feedback">
                The date field is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Location: </label>
        <select formControlName="location" class="form-control" [ngClass]="{'is-invalid': editTournamentForm.controls['location'].touched && editTournamentForm.controls['location'].errors}">
          <option *ngFor="let location of locations" [ngValue]="location">
            {{ location }}
          </option>
        </select>
        <div *ngIf="editTournamentForm.controls['location'].touched && editTournamentForm.controls['location'].hasError('required')" class="invalid-feedback">
            The location field is required
        </div>
      </div>

      <a href="" class="btn btn-default" [routerLink]="['/tournaments']" [routerLinkActive]="['active']">Back</a>         
      <input (click)="onUpdate()" type="" value="Update" class="btn btn-success" [disabled]='editTournamentForm.invalid'>
    </form>
  </div>
  