<div class="container dash">
  <h2>Dashboard</h2>
  <hr>
  <app-requests></app-requests>

  <div *ngIf=" user$ | async as user">
    <br>
    <br>
    <!-- manager -->
    <div *ngIf="user.status === 'manager' && user.team_id === null" class="text-center ">
      <!-- create team template -->
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header bg-info text-white">
          <h4 class="modal-title ">Creat your own team</h4>
          <button type="button" class="close text-white" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-create-team-form (newClub)="onCreateClub($event)"></app-create-team-form>
        <!-- <app-register (submit_register)="onSubmitRegister($event)"></app-register> -->
      </ng-template>

      <a class="btn btn-info btn-lg text-white create mb-5" (click)="open(content)">
        <small>Form your team</small>
      </a>
      <br>
      <br>
    </div>

    <div *ngIf="user.status === 'manager' && user.team_id !== null">
      <app-player-market></app-player-market>
    </div>

    <!-- player -->
    <div id="leaveClub" *ngIf="user.status === 'player' && user.team_id !== null">
      <button  class="btn btn-danger" (click)="leaveClub()">Leave - {{user.teamname}}</button>
    </div>
  </div>
</div>