.frame{
    overflow: hidden;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.308), -1px 3px 4px rgba(0, 0, 0, 0.308);
    background-color: rgba(71, 71, 71, 0.725);
    color: #fff;
}

.frame.table th, 
.frame.table td{
    border-top: 0;
    font-weight: 400;
}

.table{
    margin-bottom: 0;
}

.title{
    height: 48px;
    background: rgba(46, 111, 233, 0.699);
    margin-left: -20px;
    margin-right: -20px;
    padding: 0.6em 0;
    text-transform: uppercase;
    text-align: center;
}

.ranking{
    font-size: 14px;
}

td img{
    width:20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.even{
    background: rgba(161, 158, 158, 0.493);
}

.odd{
    background: transparent;
}