.frame{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.308), -1px 3px 4px rgba(0, 0, 0, 0.308);
}

.frame.table thead th{
    border-bottom: 0;
}

.frame.table th, 
.frame.table td{
    border-top: 0;
}

table.frame{
    border-collapse: separate;
    border-spacing: 0;
}

.frame thead{
    background: rgba(46, 111, 233, 0.699);
    color: #fff;
}

.frame tbody tr:first-child{
    box-shadow: none;
}

.frame tbody tr{
    box-shadow: 0px -2px #dee2e6;
}

.stathead{
    text-transform: uppercase;
    text-align: center;
}

.even{
    background: rgba(0, 0, 0, 0.075);
}

.odd{
    background: #fff;
}

.scroll-box{
    width: 100%;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    padding: 0 4px;
}