<div *ngIf="status === 'manager'">
  <p>{{status}}</p>
  <div class="box" *ngIf="requests">
    <div class="card" *ngFor="let request of requests">
      
        <div class="card-header bg-secondary fa">
          <p>
            <strong>{{request.firstname}} {{request.lastname}}</strong>
          </p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <small>{{request.firstname}} {{request.lastname}} wants to join your club.</small>
          </p>
          <div class="row text-center">
            <div class="col-6">
              <button class="btn btn-info btn-sm">Accept</button>
            </div>
            <div class="col-6">
              <button class="btn btn-danger btn-sm">Reject</button>
            </div>
          </div>
        </div>
      
    </div>

  </div>
</div>

<div *ngIf="status === 'player'">
  <div class="box" *ngIf="requests">
   
    <div class="card" *ngFor="let request of requests">
      
        <div class="card-header bg-secondary fa">
          <p>
            <strong>Invitation from {{request.firstname}}</strong>
          </p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <small>You've been invited to join {{request.teamname}}</small>
          </p>
          <div class="row text-center">
            <div class="col-6">
              <button class="btn btn-info btn-sm">Accept</button>
            </div>
            <div class="col-6">
              <button class="btn btn-danger btn-sm">Reject</button>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>

<div *ngIf="status === 'organizer'">
</div>