.btn-info{
    font-size: 12px;
    color: #fff;
    height: 40px;
    background-color: rgb(46, 149, 233);
    background-image: none;
    border-color: rgb(46, 149, 233);
    border-radius: 4px;
    text-transform: uppercase;
}

.row{
    margin-bottom: 1rem;
}

.upcoming p{
    margin-bottom: 0;
}

.upcoming h5{
    text-decoration: underline;
    color: blue;
    font-size: 16px;
}

.empty{
    height: 100%;
}

.empty p{
    font-size: 16px;
}

.match{
    font-size: 12px;
    margin-bottom: 0;
}

.match img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

p.teamname{
    margin-top: 8px;
}

.margin-zero{
    margin: 0;
}