<div *ngIf="match else noMatch">
  <div class="row">
    <div class="col-12 d-flex">
      <div class="my-auto mr-auto upcoming">
        <h5>Upcoming Match:</h5>
        <p>Date: {{ match.date | date: 'dd' }} / {{ match.date | date: 'MM'}} / {{ match.date | date: 'y'}}</p>
      </div>
      <div class="my-auto ml-auto">
        <button class="btn btn-info" [routerLink]="['/tournament/fixtures-ranking', tournamentId]">Full Fixtures & Ranking</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 offset-lg-1">
      <div class="logo-wrapper">
        <div *ngIf="match.home_logo else defaultText">
          <img src="{{match.home_logo}}">
        </div>
        <ng-template #defaultText>
          <div class="default-text d-flex">
            <p class="mx-auto my-auto">TEAM LOGO</p>
          </div>
        </ng-template>
        <div class="teamname home">
          <p class="mx-auto my-auto">{{match.home_teamname}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 d-flex">
      <div class="my-auto mx-auto">VS</div>
    </div>
    <div class="col-lg-5">
      <div class="logo-wrapper">
        <div *ngIf="match.away_logo else defaultText">
          <img src="{{match.away_logo}}">
        </div>
        <ng-template #defaultText>
          <div class="default-text d-flex">
            <p class="mx-auto my-auto">TEAM LOGO</p>
          </div>
        </ng-template>
        <div class="teamname away">
          <p class="mx-auto my-auto">{{match.away_teamname}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noMatch>
  <div class="d-flex empty">
    <p class="mx-auto my-auto">No Update from Organizer</p>
  </div>
</ng-template>