.frame{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.308), -1px 3px 4px rgba(0, 0, 0, 0.308);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2rem;
    max-height: calc(100vh - 140px);
}

.title{
    height: 48px;
    background: rgba(46, 111, 233, 0.699);
    margin-left: -20px;
    margin-right: -20px;
    padding: 12px 0;
}

.title p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.logo-wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 68.75%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 4px 4px 10px #888888;
}

.logo-wrapper img,
.logo-wrapper .default-text{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 81.81%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 1px solid #fff;
}

.logo-wrapper .default-text{
    background-color:rgba(170, 187, 204, 0.384);
}

.logo-wrapper .teamname{
    display: block;
    position: absolute;
    width: 100%;
    height: 18.19%;
    bottom: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
}

.home{
    background: rgba(255, 0, 0, 0.87);
    color: #fff;
}

.away{
    background: rgba(13, 141, 1, 0.678);
    color: #fff;
}

.btn-info{
    font-size: 12px;
    color: #fff;
    height: 40px;
    background-color: rgb(46, 149, 233);
    background-image: none;
    border-color: rgb(46, 149, 233);
    border-radius: 4px;
    text-transform: uppercase;
}

.fixtures{
    height: calc(100vh - 180px);
    overflow-y: scroll;
    overflow-x: visible;
}

.row{
    margin: 0 0;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(136, 136, 136, 0.65);
}

.info p{
    text-align: center;
    margin-bottom: 2px;
    font-size: 12px;
}

.info p:last-child{
    margin-bottom: 0;
}