.frame{
    overflow: hidden;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.308), -1px 3px 4px rgba(0, 0, 0, 0.308);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2rem;
    max-height: calc(100vh - 140px);
    background-color: rgba(71, 71, 71, 0.725);
    color: #fff;
}

.fixtures{
    max-height: calc(100vh - 180px);
    overflow-y: scroll;
    overflow-x: visible;
}

.fixtures .col-12{
    padding: 0;
}

.row{
    margin: 0 0;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(136, 136, 136, 0.65);
}

.row:last-child{
    border-bottom: none;
}

.title{
    height: 48px;
    background: rgba(102, 204, 140, 0.719);
    margin-left: -20px;
    margin-right: -20px;
    padding: 12px 0;
}

.title p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.logo-wrapper{
    width: 100px;
}

.logo-wrapper img,
.logo-wrapper .default-text{
    object-fit: cover;
    width: 50px;
    height: 50px;
    box-shadow: 0.5px 0.5px 8px rgba(136, 136, 136, 0.733);
}

.logo-wrapper p{
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
}

.info p{
    text-align: center;
    margin-bottom: 2px;
    font-size: 12px;
}

.info p:last-child{
    margin-bottom: 0;
}

.no-update{
    margin: 16px 0;
}
