<p>
  tournaments works!
</p>

<!-- if user is organizer -->
<div class="container" *ngFor="let list of listAllTournaments | async">
  <div *ngIf="userStatus.status === 'organizer' && userStatus.user_id === list.organizer_id">
    <div class="row">
      <div class="col-md-4 img-thumbnail">
        <img src="../../../assets/img/zizou.png">
      </div>
  
      <div class="col-md-4">
        <div class="list-group">
          <div class="list-group-item">
            <li>Tournament id - {{list.tournament_id}}</li>
            <li>Tournament name - {{list.tournament_name}}</li>
            <li>Category - {{list.category}}</li>
            <li>Number of team - {{list.number_of_teams}}</li>
            <li>Game size - {{list.game_size}}</li>
            <li>Winner prize - {{list.winner_prize}}</li>
            <li>Runnerup prize - {{list.runnerup_prize}}</li>
            <li>Entry fee - {{list.entry_fee | currency}}</li>
            <li>Date - {{ list.date | date: 'd' }} / {{ list.date | date: 'MM'}} / {{ list.date | date: 'y'}}</li>
            <li>Location - {{list.location}}</li>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <a class="btn btn-info" [routerLink]="['/tournament/edit', list.tournament_id]">Edit</a>
        <div class="btn btn-danger" (click)="onDelete(list.tournament_id)">Delete</div>
        <a class="btn btn-info" [routerLink]="['/tournament/score', list.tournament_id]">Update Score</a>
        <a class="btn btn-info" [routerLink]="['/tournament/ranking', list.tournament_id]">Ranking</a>
        <a class="btn btn-warning" [routerLink]="['/tournament', list.tournament_id, 'fixture']">Add Fixture</a>
      </div>
    </div>
  </div>
</div>

<!-- if user if player -->
<div class="container" *ngFor="let list of listAllTournaments | async">
  <div *ngIf="userStatus.status === 'player'">
    <div class="row">
      <div class="col-md-6 img-thumbnail">
        <img src="../../../assets/img/zizou.png">
      </div>
      <div class="col-md-6">
        <div class="list-group">
          <div class="list-group-item">
            <li>Tournament id - {{list.tournament_id}}</li>
            <li>Tournament name - {{list.tournament_name}}</li>
            <li>Category - {{list.category}}</li>
            <li>Number of team - {{list.number_of_teams}}</li>
            <li>Game size - {{list.game_size}}</li>
            <li>Winner prize - {{list.winner_prize}}</li>
            <li>Runnerup prize - {{list.runnerup_prize}}</li>
            <li>Entry fee - {{list.entry_fee | currency}}</li>
            <li>Date - {{ list.date | date: 'd' }} / {{ list.date | date: 'MM'}} / {{ list.date | date: 'y'}}</li>
            <li>Location - {{list.location}}</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- if user is manager -->
<div *ngIf="userStatus.status === 'manager'">
  <div class="container">
    <div class="row" *ngFor="let list of listAllTournamentsForManager | async">
      <div class="col-md-4 img-thumbnail">
        <img src="../../../assets/img/zizou.png">
      </div>

      <div class="col-md-4">
        <div class="list-group">
          <div class="list-group-item">
            <li>Tournament id - {{list.id}}</li>
            <li>Tournament name - {{list.tournament_name}}</li>
            <li>Category - {{list.category}}</li>
            <li>Number of team - {{list.number_of_teams}}</li>
            <li>Game size - {{list.game_size}}</li>
            <li>Winner prize - {{list.winner_prize}}</li>
            <li>Runnerup prize - {{list.runnerup_prize}}</li>
            <li>Entry fee - {{list.entry_fee}}</li>
            <li>Date - {{ list.date | date: 'd' }} / {{ list.date | date: 'MM'}} / {{ list.date | date: 'y'}}</li>
            <li>Location - {{list.location}}</li>
          </div>
        </div>
      </div>

      <!-- check which button to be shown -->
      <div *ngIf="userStatus.status === 'manager' && userStatus.team_id != null">
        <div class="col-md-4" *ngIf="list.request_team_id === userStatus.team_id">
          <div class="btn btn-danger">Requesting</div>
        </div>
        <div class="col-md-4" *ngIf="list.t_team_id === userStatus.team_id">
          <div class="btn btn-primary">In progress</div>
        </div>
        <div class="col-md-4" *ngIf="list.request_team_id !== userStatus.team_id && list.t_team_id !== userStatus.team_id">
          <div class="btn btn-success" (click)="joinTournament(list.id)">Join</div>
        </div> 
      </div>

      
      <!-- <div *ngIf="userStatus.status === 'manager' && userStatus.team_id != null">
        <div *ngFor="let requestTeamId of list.request_team_id">
          <div *ngIf="requestTeamId === userStatus.team_id">
              <div class="btn btn-danger">Requesting</div>
          </div>

          <div *ngFor="let teamId of list.t_team_id">
            <div *ngIf="teamId === userStatus.team_id">
                <div class="btn btn-primary">In Progress</div>
            </div>

            <div *ngIf="requestTeamId !== userStatus.team_id && teamId !== userStatus.team_id">
              <div *ngIf="teamId !== list.t_team_id[i - 1]">
                <div class="btn btn-success">Join</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>