<br>

<div class="container">
  <div class="row bg-white">
    <div class="col-lg-12 padding-zero">
      <img src="/assets/img/football-stadium.jpg" class="img-fluid filter">
      <div class="players">
        <div *ngFor="let player of squad$ | async;" class="item d-flex">
          <div class="mx-auto my-auto">
            <div class="profile-wrapper">
              <img src="{{player.image}}" class="img-fluid" (click)="open(content)">
              <p class="tag">{{player.firstname}}</p>

              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-body">
                  <div class="card player-card d-flex">
                    <div class="card-header">
                      {{player.firstname}} {{player.lastname}}
                      <button type="button" class="close text-white" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="img-wrapper mx-auto">
                      <img src="{{player.image}}" alt="">
                    </div>


                    <div class="card-body">
                      <div class="card-text">Position: <div *ngIf="player.position; else na">{{player.position}}</div></div>
                      <div class="card-text">Age: <div *ngIf="player.age; else na">{{player.age}}</div></div>
                      <div class="card-text">Height: <div *ngIf="player.height; else na">{{player.height}}</div></div>
                      <div class="card-text">Weight: <div *ngIf="player.weight; else na">{{player.weight}}</div></div>
                      <ng-template #na>N/A</ng-template>
                    </div>
                  </div>
                </div>

              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>