<br>

<table class="table">
  <thead>
    <tr class="stathead">
      <td colspan="6">Team Squad</td>
    </tr>
    <tr>
      <th width="12.5%">NO.</th>
      <th width="30%">NAME</th>
      <th width="20%">POSITION</th>
      <th width="12.5%">AGE</th>
      <th width="12.5%">HEIGHT</th>
      <th width="12.5%">WEIGHT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of squad$ | async; let i = index" class="{{i%2 == 0 ? 'even' : ''}}">
      <td>{{i}}</td>
      <td>{{player.firstname}} {{player.lastname}}</td>
      <td>{{player.position}}</td>
      <td>24</td>
      <td>1.70m</td>
      <td>60kg</td>

      <!-- <div class="modal-bg">
        <div class='custom-modal'>
          <div class="card" style="width: 18rem;">
          <h5 class="card-header">Featured</h5>
          <div class="d-flex">
          <img class="rounded-circle mx-auto" src="{{player.image}}" alt="Player Profile Picture" style="width: 10rem; height: 10rem;">
          </div>
          <div class="card-body">
            
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

          <div class="player-card d-flex flex-column ">
            <p class="card-position">{{player.position}}</p>
            <img class="card-profile mx-auto" src="{{player.image}}" alt="Player Profile Picture">
            <div class="ribbon">
              
              <p class="card-name">{{player.firstname}} {{player.lastname}}</p>
            </div>
          </div>

        </div>
      </div> -->


    </tr>
  </tbody>
</table>