<br>

<table class="table">
  <thead>
    <tr class="stathead">
      <td colspan="6">Team Squad</td>
    </tr>
    <tr>
      <th width="12.5%">#</th>
      <th width="30%">NAME</th>
      <th width="20%">POSITION</th>
      <th width="12.5%">AGE</th>
      <th width="12.5%">HEIGHT</th>
      <th width="12.5%">WEIGHT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of squad$ | async; let i = index" class="{{i%2 == 0 ? 'even' : ''}}">
      <td>{{i}}</td>
      <td>{{player.firstname}} {{player.lastname}}</td>
      <td>{{player.position}}</td>
      <td>24</td>
      <td>1.70m</td>
      <td>60kg</td>
    </tr>
  </tbody>
</table>