table{
    width: 100%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.829);
    border-radius: 4px;
}

.stathead{
    background: rgba(46, 111, 233, 0.699);
    text-transform: uppercase;
}

.stathead td{
    color: #fff;
    font-size: 18px;
}

thead{
    border-bottom: 1px solid #c2c2c2;
}

.even{
    background: rgba(0, 0, 0, 0.075);
}

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.192);
}

.custom-modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.player-card{
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    width: 250px;
    height: 400px;
    display: inline-block;
    margin: auto;
    border-radius: 20px;
    box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, 0.438);
}

.card-position{
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    color: rgba(255, 166, 0, 0.829);
    border-radius: 10px;
}

.card-name{
    font-size: 20px;
    font-weight:bold;
}

.card-profile{
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 200px;
    box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, 0.438);
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.ribbon{
    width: 100%;
    text-align: center;
}