<app-nav-bar></app-nav-bar>

<div class="my-3" id="flash">
    <flash-messages class="text-center"></flash-messages>
</div>

<div id="out-let">
    <router-outlet></router-outlet>
</div>

<div class="footing">
    <div class="socialLinks">
        <ul class="socialOptions justify-content-center text-white mb-0 pb-0">
            <li class="socialList text-muted">
                <a>Copyright © 2018 BSN.</a>
            </li>
            <li class="socialList">
                <a target="blank" href="" role="button" class="facebook-option">
                    <span class="fa fa-facebook"></span>
                </a>
            </li>
             <li class="socialList"> 
                <a target="_blank" href="" role="button" class="youtube-option">
                    <span class="fa fa-youtube"></span>
                </a>
            </li>
            <li class="socialList">
                <a target="_blank" href="" role="button" class="twitter-option">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>
            <li class="socialList">
                <a target="_blank" href="" role="button" class="instagram-option">
                    <span class="fa fa-instagram"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

