header {
    min-height: 70px;
}
.nav-bg {
    background: linear-gradient(180deg, rgb(4, 126, 182),rgb(40, 148, 211),rgb(8, 137, 197));
    box-shadow: 0px 1px 1px #000;
}
.btn {
    border-radius: 12px;
    box-shadow: 1px 2px 4px #000; 
}

.btn:active {
    box-shadow: 0 0.5px #000;
    transform: translateY(2px);
}
 