.bg{
    background: #fff;
    box-shadow: 2px 2px 20px #b4b3b3c2, -2px -2px 20px #b4b3b3c2;
}

.padding-20{
    padding: 20px;
}

:host /deep/ .cal-month-view .cal-day-badge{
    background-color: transparent;
    color: transparent;
}

:host /deep/ .cal-cell.cal-weekend,
:host /deep/ .cal-cell.cal-weekend,
:host /deep/ .cal-month-view .cal-day-cell.cal-weekend .cal-day-number{
    color: red;
}

:host /deep/ .cal-month-view .cal-day-cell{
    min-height: 100px;
}

:host /deep/ .cal-month-view .cal-cell-top{
    max-height: 0px;
    min-height: 0px;
}

:host /deep/ .cal-month-view .cal-event{
    width: 20%;
    height: 20%;
    border-radius: 0;
    background-color: rgba(253, 0, 0, 0.438) !important;
    z-index: 99;
}

.modal-header{
    justify-content: center;
    color: rgb(255, 0, 55);
}

.date{
    font-size: 20px;
}

.bg-modal{
    background: rgba(255, 255, 255, 0.952);
}

.btn-light,
.btn-outline-dark{
    color: #000;
}

.btn-outline-dark:hover{
    color: #fff;
}

