:host /deep/ .cal-month-view .cal-day-badge{
    background-color: transparent;
    color: transparent;
}

:host /deep/ .cal-cell.cal-weekend,
:host /deep/ .cal-cell.cal-weekend,
:host /deep/ .cal-month-view .cal-day-cell.cal-weekend .cal-day-number{
    color: red;
}

:host /deep/ .cal-month-view .cal-day-cell{
    min-height: 100px;
}

:host /deep/ .cal-month-view .cal-cell-top{
    max-height: 0px;
    min-height: 0px;
}

:host /deep/ .cal-month-view .cal-event{
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: rgba(253, 249, 0, 0.438) !important;
}

.modal-header{
    justify-content: center;
    color: rgb(255, 0, 55);
}

.date{
    font-size: 20px;
}
