.cover{
  height: 100%;
  width: 100vw;
}

.frame{
  border: 1px solid rgba(133, 133, 133, 0.493);
  width: 40vw;
  box-shadow: 1px 2px 4px rgba(133, 133, 133, 0.493); 
}

.title{
  font-size: 20px;
}

.account-info{
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: none;
  border-bottom: 1px solid rgba(0, 140, 255, 0.781);
}

input:focus, 
button:focus{
  outline: none;
}

.sign-in,
.sign-up{
  width: 100%;
  background: rgba(0, 140, 255, 0.781);
  color: #fff;
  border: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
  margin-bottom: 6px;
}

.sign-up{
  background: rgba(30, 187, 25, 0.781);
  border-radius: 25px;
  width: 70%;
}

.facebook-box{
  background: #3b5998;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
  color: white;
}

.or{
  margin-top: 30px;
  margin-bottom: 30px;
}

.circle{
  background: rgb(209, 208, 208);
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.center{
  margin: auto;
  color: #fff;
}

@media (max-width: 991px){
  .frame{
    width: 60%;
  }
}

@media (max-width: 767px){
  .frame{
    width: 85%;
  }
}