<div class="d-flex cover">
  <div class="frame mx-auto my-auto">
    <div class="container my-3">

      <div class="row d-flex">
        <div class="col-12">
          <p class="title text-center">Login with your account</p>
          <form (submit)="onLoginSubmit()">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" class="account-info" [(ngModel)]="email" placeholder="Email" required autofocus>
            <br>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" class="account-info" [(ngModel)]="password" placeholder="Password" required>
            <br>
            <br>
            <input class="sign-in" type="submit" value="SIGN IN">
          </form>
          <div class="facebook-box d-flex" (click)="onFacebookLogin($event)">
            <p class="mx-auto my-auto">LOG IN WITH FACEBOOK</p>
          </div>
        </div>
      </div>

      <div class="row d-flex or">
        <div class="circle mx-auto d-flex">
          <p class="center">OR</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex">
          <button class="sign-up mx-auto" (click)="open(content)">Create New Account</button>
        </div>

      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="bg-white">
      <div class="modal-header bg-color d-flex align-items-center">
        <h4 class="modal-title">Create New Account</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <app-register (submit_register)="onSubmitRegister($event)"></app-register>
  </ng-template>
</div>