/* 
.loginFrame {
    background-color: rgba(39, 154, 221)!important;
    border:solid 1vmin rgba(39, 154, 221, 0.897);
    border-radius:10px; 
    box-shadow: 2px 2px 8px  #fff;
    outline: none;
    box-sizing:border-box;
} */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 20px;
    margin: 0 auto;  
    background: linear-gradient(-45deg,rgb(38, 140, 199),#1ca0dd,rgb(35, 161, 219));
    border-radius: 20px; 
  }
 
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 20px;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .facebook-btn {
    background: linear-gradient(-90deg,#037ab1,#2eacdd,#037ab1);
    box-shadow: 2px 5px 8px  rgb(46, 47, 48);
  }
  .facebook-btn:active {
    box-shadow: 0 0.5px  rgb(46, 47, 48);
    transform: translateY(3px);
  }
  .btn-logIn {
      background: linear-gradient(45deg, #037ab1,#2eacdd,#037ab1);
      color: #fff;
      border-radius: 20px;
      box-shadow: 2px 5px 8px  rgb(46, 47, 48);

  }
  .btn-register {
      background: linear-gradient(45deg, #037ab1,#2eacdd,#037ab1);
      color: #fff;
      border-radius: 20px;
      box-shadow: 2px 5px 8px  rgb(46, 47, 48);

  }
  .btn-register:active {
    box-shadow: 0 0.5px  rgb(46, 47, 48);
    transform: translateY(3px);
  }
  .btn-logIn:active {
      box-shadow: 0 0.5px rgb(46, 47, 48);
      transform: translateY(3px);
  }


  
 