<tr [formGroup]="scoreForm">
  <td>
    <img src="{{fixture.home_logo}}"> &nbsp; {{fixture.home_teamname}}</td>
  <td>
    <img src="{{fixture.away_logo}}"> &nbsp; {{fixture.away_teamname}}</td>
  <td>{{fixture.date | date: 'dd'}} / {{fixture.date | date: 'MM'}} / {{fixture.date | date: 'y'}}</td>
  <td>{{fixture.date | date: 'shortTime'}}</td>
  <td class="max-width-zero">
    <input type='text' name="home_score" class="form-control text-center" formControlName="home_score" />
  </td>
  <td class="max-width-zero">
    <input type='text' name="away_score" class="form-control text-center" formControlName="away_score" />
  </td>
  <td>
    <input (click)="onSubmit()" type='submit' value="Update" class="btn btn-warning btn-block text-white" [disabled]="!scoreForm.valid" />
  </td>
</tr>