.club{
    display: flex;
}

.club h1{
    color: rgba(255, 0, 0, 0.637);
    margin-bottom: 0;
}

.club hr{
    margin-top: 0;
    margin-bottom: 10px;
}

.club p{
    margin-bottom: 8px;
}

.club .description{
    position: absolute;
    color: rgba(56, 56, 56, 0.815);
    margin-bottom: 0;
    bottom: 0;
    font-size: 1.2vw;
}

.logo-wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    display: flex;
    background: #fff;
    border-radius: 16px;
}

.logo-wrapper img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 4px 4px 20px #888888;
    border-radius: 16px;
}

.sidebar{
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    padding-top: 106px;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    z-index: 10;
    overflow: scroll;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.534);
    background: rgba(0, 0, 0, 0.075);
}

.sidebar-title{
    text-decoration: underline;
    color: #000;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.sidebar-content{
    font-size: 16px;
    color: #000;
}

.sidebar-content p{
    margin-bottom: 6px;
}

.logo-background{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}

.opponent{
    color: red;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.opponent p{
    margin-bottom: 0;
}

.details{
    text-decoration: underline;
    text-transform: uppercase;
}


@media (max-width: 991px){
    .club .description{
        display: none;
    }

    .resize{
        width: 75%;
        margin: auto;
    }

    .logo-wrapper{
        margin-bottom: 20px;
    }
}

@media (max-width: 767px){
    h4{
        font-size: 16px;
    }

    .sidebar-title{
        margin-bottom: 6px;
    }

    .sidebar-content{
        font-size: 14px;
    }
}


@media (max-width: 575px){
    .sidebar{
        position: relative;
        padding-top: 0;
        border-left: none;
    }
}