<div class="container-fluid">
  <div class="row">

    <div class="col-lg-9 col-md-8">
      <div *ngIf="teamInfo$ | async as teamInfo">
        <div class="row club">

          <div class="col-lg-5 resize">
            <div class="logo-wrapper">
              <div class="logo-background">
                Upload Team Logo
              </div>
              <img src="{{teamInfo.logo}}" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <h1>{{teamInfo.teamname}}</h1>
            <hr>
            <p>Club Manager: {{teamInfo.manager_firstname}} {{teamInfo.manager_lastname}}</p>
            <p>No. of Players: {{teamInfo.numberOfPlayers}}</p>
            <p class="description">**In BSN, every team players could view your team squad & fixtures.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12">

          <ngb-tabset>
            <ngb-tab title="SQUAD">
              <ng-template ngbTabContent>
                <app-squad></app-squad>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="FIXTURES">
              <ng-template ngbTabContent>
                <app-calendar></app-calendar>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>

        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="sidebar">
        <h4 class="sidebar-title">Next Opponent</h4>
        <div class="sidebar-content" *ngIf="upComingMatch$ | async as upComingMatch; else noMatch">
          <div class="logo-wrapper">
            <img src="{{upComingMatch.opponent_logo}}" alt="">
          </div>
          <div class="opponent">
            <p>{{upComingMatch.opponent_teamname}} - {{upComingMatch.opponent_position}}</p>
          </div>
          
          <br>
          <p class="details">Match Information:</p>
          <p>Date: {{upComingMatch.date | date:'fullDate'}}</p>
          <p>Time: {{upComingMatch.date | date:'hh:mm a'}}</p>
          <p>Tournament Name: {{upComingMatch.tournament_name}}</p>
          <p>Venue: {{upComingMatch.park_name}}, {{upComingMatch.street}},  {{upComingMatch.district}}</p>
        </div>
        <ng-template #noMatch>
          <h4>N/A</h4>
        </ng-template>
      </div>
    </div>
  </div>
</div>