h1{
    text-transform:capitalize;
}

.prompt{
    margin-top: 15px;
    color: red;
}
.pointer{
    cursor: pointer;
}

/* Profile Picture */
.width-70{
    width: 70%;
    margin: auto;
}
#upload_button {
    display: inline-block;
  }
#upload_button input[type=file] {
display:none;
}

.pic-wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    display: flex;
    background: #fff;
    border-radius: 16px;
}

.pic-wrapper .realImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 4px 6px #888888;
    border-radius: 16px;
}
.imgPlaceholder {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 4px 6px #888888;
    border-radius: 16px;
    z-index: 5;

}

/* .upload{
    margin-top: 10px;
} */

/* general */

.btn-edit{
    color: #fff;
    font-size: 12px;
    color: #fff;
    background-color: rgb(121, 233, 46);;
    background-image: none;
    border-radius: 4px;
    text-transform: uppercase;
    height: 40px;
}

button:hover{
    outline: none;
}

.btn:active {
    box-shadow: 0 0.2px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

/* form */
h3{
    margin-bottom: 0;
}

hr{
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #ccc;
}


/* editing form */
.input-group select{
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#ced4da' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.input-group .form-control,
.input-group-text{
    font-size: 12px;
}

input:focus{
  outline: none;
  box-shadow: none;
  border-color: rgb(206, 212, 218);
}

.form-control:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}

/* news */

.sidebar-title{
    /* text-decoration: underline; */
    color: #000;
    margin-bottom: 4px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.sidebar-content{
    width: 100%;
    color: #000;
}

.sidebar-content .title{
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
}

.power{
    color: rgba(30, 143, 255, 0.719);
    font-size: 10px;
    box-shadow: 0px 5px 5px -5px #000;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.sidebar-content .description{
    padding-left: 15px;
    font-size: 14px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.582);
}

.sidebar-content .link{
    font-size: 12px;
    font-style: italic;
    margin-top: 4px;
    margin-bottom: 0;
}

.article{
    border-bottom: 1px solid #888;
    padding: 10px 0;
    text-align: justify;
}

/* 15295e3e3e6d403ba347521541dd31c8 */