<div class="d-flex cover">
  <div class="container bg my-auto width-resize">
    <form [formGroup]="userInformation" (ngSubmit)="updateUserInfo()">
      <div class="row">
        <div class="col form-group d-flex flex-column">
          <label class="text-center">Please select your role</label>
          <br>
          <select formControlName="status" name="status" class="form-control" [ngClass]="{'is-invalid': userInformation.controls['status'].touched && userInformation.controls['status'].errors}">
            <option [ngValue]="null" disabled>Choose</option>
            <option value="player">Player</option>
            <option value="manager">Manager</option>
            <option value="organizer">Organizer</option>
          </select>
          <br>
          <input type="submit" value="Submit" class="btn btn-success ml-auto" [disabled]='userInformation.invalid'>
        </div>
      </div>
    </form>
  </div>
</div>