/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    
}
body {
    background-image: url("/assets/img/3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(37, 37, 37, 0.699)
}

.btn{
    color: #fff;
    font-size: 12px;
    background-image: none;
    border-radius: 4px;
    text-transform: uppercase;
}

.btn:focus, .btn.focus{
    outline: none;
    box-shadow: none;
}

select:focus{
    outline: none;
}

.modal-content{
    background-color: transparent !important;
    border: none;
}
