/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    
}
body {
    /* background: linear-gradient(15deg, rgb(231, 235, 241), rgb(231, 235, 241), rgb(231, 235, 241)); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}